<div style="text-align: center">
<form action="/films" method="post">
  <h2 style="font-weight: lighter">Create a new film</h2>
  <input style="border: 2px solid black; border-radius: 4px;" type='text' placeholder="title" name='film[title]'/><br/>
  <input style="border: 2px solid black; border-radius: 4px;" type='text' placeholder="year" name='film[year]'/><br/>
  <input style="border: 2px solid black; border-radius: 4px;" type='integer' placeholder="box office sales" name='film[box_office_sales]'/><br/>
  <input type="submit" value="Submit">
</form>
</div>
