<div style="text-align: center">
<h3 style="text-align: center"><%= @film.title %> (<%= @film.year %>)</h3>
<p style="font-weight:lighter; text-align: center">Gross US Box Office Sales: $<%= @film.box_office_sales %></p>
</div>
